.new{
    background-image: url(2308_CX_Work_BTW_Banner-UPDATE.jpg);
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}
.kt{
    width: 50%;
    
}
#icome{
    display: none;
}

@media screen and (max-width: 568px) {
    .bagg,.kegg {
        width: 87%;
    }
    #icome{
        display: flex;
    }
    #isam{
        display: none;
    }
    body{
        overflow-x: hidden;
    }

}
@media (max-width:1115px) {
    .new{
        background: radial-gradient(circle, rgba(28,26,29,1) 0%, rgba(29,52,253,1) 50%, rgba(47,43,36,1) 100%);;
        height: fit-content;
    }
    .kt{
        text-align: center;
        width: 100% !important;
    }
    .col{
        max-width: 100%;
    }
    .reverse{
        display: flex;
        flex-direction: column-reverse;
    }
    .b2{
        text-align: start;
        width: 300px !important;
    }
    .down{
        display: block !important;
        flex-direction: column !important;
        position: absolute;
        width: 100px !important;
        
        

    }
    .drop{
        position: relative;
    }
    .drop:focus-within .down{
        display: block !important;
    }
}
.d1{
    background-image:linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(bg-create.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.d2{
    background-image:linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(bg-host.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.d3{
    background-image:linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(bg-create.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.let{
 height: 70px ;
 width: 80px;
}
.mt{
    color: rgb(222,239,249);
}
.mt:hover{
    text-decoration: underline !important;
}
.b1{
 width: 35px !important;
 height: 35px !important;
 object-fit: contain;
}
.no{
 width: 250px;
}

/* .drop:focus-within .down{
    display: block !important;
} */